.homeMain {
    width: 100%;

    .mVisual {
        width: 100%;
        font-size: 0;
        line-height: 0;
        position: relative;
        overflow: hidden;

    }

    .bx-wrapper {
        max-width: 100%;
    }

    .bx-viewport {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: px-to-rem(812);
    }

    .rsis-container {
        div {
            width: 100% !important;
            height: 100% !important;
            background-size: px-to-rem(512) !important;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}